<section class="introduction">
   <div class="introduction-inner">
      <!--<img src="https://angularjs.org/img/AngularJS-large.png" />-->
      <div class="search">
         <h3>Learn AngularJS to make Apps and Websites.</h3>
         <h4>Hand picked Angular resources available on the Internet for beginner to experts.</h4>

         <div class="input-group">
            <input autofocus placeholder="What do you want to learn today?" type="text" class="form-control">
            <span class="input-group-btn">
               <button class="btn btn-primary" type="button"><i class="icon-search"></i>
               </button>
            </span>
         </div>
         <!-- /input-group -->
      </div>
      <div class="hero-image"><img src="/assets/img/angularjs-logo.png"></div>

      <div class="actions">
         <button class="btn btn-primary btn-lg btn-raised" type="button">Random Resource</button>
         <button class="btn btn-default btn-lg btn-raised" type="button">Submit a Resource</button>
      </div>

   </div>
</section>

<section class="listing home" item-list items="items|limitTo:4" style="z-index:10">
  
</section>
